li {
    list-style:none;
    
}

body {
    background-color: #EEEEEE;
    

}

container {
    background-color:white;
}

.navbar {
background-color:white;
height:auto;
border-bottom:solid 2px #005D00;
margin:0px 0px 20px 0px;
padding:10px 0px 0px 0px;
width:100%;

}

#statement {
    color:#005d00;
}

#logo {
    /* float:left; */
    align-content:center;
    
    
}

#statement {
    
    margin:60px 0px 0px 0px;
    
    
}

#directions-text {
    /* text-align:center; */
    margin:10px 0px 30px 0px;
    float:right;
}

img {
    /* float:left; */
}

#erlich {
    margin:0px 0px 40px 0px;
}

.navbar-fixed-footer{
position:fixed;
bottom:0px;
width:100%;
height:30px;
color:white;
background-color:#3F3F3F;
text-align:center;

}